<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice alert-warning text-center"> <%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger text-center"> <%= alert %></p>
    <% end %>

    <div class="bg-dark">
      <div class="row text-center p-2">
        <h3 class='col'><%= link_to 'Home', posts_path, class: 'text-primary'%></h1>   
        <h3 class='col-5 text-white'>Members-only CLUB</h3>
        <% if !user_signed_in? %>
          <h3 class='col'><%= link_to 'Sign up', new_user_registration_path, class: ' text-success' %>
        <% end %>

        <% if user_signed_in? %>
          <h3 class='col'><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:'text-danger' %>
        <% else %>
          <h3 class='col'><%= link_to 'Sign in', new_user_session_path, class:'text-primary' %>
        <% end %>
      </div>
    </div>

    <div class='container'>
      
      <%= yield %>
    </div>
    <div class='container' style="height:100px">
  </body>
</html>
